<html lang="en">
<meta charset="UTF-8">
<head>
    <title>{{page_name}}</title>
    <style>
        .video-container {
            margin-bottom: 20px; /* تحديد المسافة بين الفيديوهات */
        }

        video {
            width: 100%; /* استخدام العرض الأقصى المتاح */
            max-width: 640px; /* حد أقصى للعرض */
            height: auto; /* الارتفاع يتغير تبعاً للعرض للحفاظ على نسب الأبعاد */
        }
    </style>
</head>
<body>
    <h3>{{ page_name }}</h3>
    {% for video in videos %}
        <div class="video-container">
            <h3>{{ video.title }}</h3>
            <video controls>
                <source src="{{ video.url }}" type="video/mp4">
                متصفحك لا يدعم وسم الفيديو.
            </video>
        </div>
    {% endfor %}

</body>
</html>

